<form [formGroup]="taskForm">
  <div>
    <label for="project">Project Name:</label>
    <select id="project" name="project" formControlName="task.project">
      <!--option *ngFor="let p of projects" [value]="p">{{p}}</option-->
    </select>
  </div>
  <div>
    <label for="issue">Issue Type:</label>
    <select id="issue" name="issue" FormControl="task.issue">
      <!--option *ngFor="let i of issues" [value]="i">{{i}}</option-->
    </select>
  </div>
  <div>
    <label for="summary">Summary:</label>
    <input
      id="summary" name="summary" type="text"
      required FormControl="summary"
      #spy />
      {{spy.className}}
    <div *ngIf="summary.invalid && (summary.dirty || summary.touched)">
      <div *ngIf="summary.errors.required">
        Summary is required.
      </div>
      <div *ngIf="summary.errors.forbiddenName">
        Summary cannot be qa.
      </div>
    </div>
  </div>
  <div>
    <label for="points">Story points:</label>
    <input id="points" name="points" type="text" FormControl="task.points" />
  </div>
  <div>
    <label for="environ">Environments:</label>
    <input id="environ" name="environ" type="text" FormControl="task.environment" />
  </div>
  <button type="submit">Submit</button>
</form>
<hr  />
{{diagnostic}}
