<div *ngIf="!name; else forminfo">
  <form [formGroup]="myForm" (ngSubmit)="addPost(myForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>My Reactive Form</h1>
        <div>
          <label>Name
            <input type="text" formControlName="name">
          </label>
          <div class="alert" *ngIf="!myForm.controls['name'].valid && myForm.controls['name'].touched">{{ titleAlert }}</div>
        </div>
        <div>
          <label>Description
            <textarea formControlName="description"></textarea>
          </label>
          <div class="alert" *ngIf="!myForm.controls['description'].valid && myForm.controls['description'].touched">
            You must specify a description that's between 10 and 50 characters.
          </div>
        </div>
        <div>
          <label for="validate">Minimum of 3 Characters</label>
          <input type="checkbox" name="validate" formControlName="validate" value="1"> On
        </div>
        <input type="submit" class="button expanded" value="Submit Form">
      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
        <h1>{{ name }}</h1>

        <p>{{ description }}</p>
    </div>
  </div>
</ng-template>
